{% extends "::base.html.twig" %}
{% block body %}
<div class="container">
    <div class="row">
        {% include ':layout:nav.html.twig' %}
        <div class="span9">
            <h2>Votre parnier</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Références</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total HT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <form action="{{ path('cart.add', {'id' : product.id}) }}" method="get">
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>
                            <select name="qte" class="span1" onchange="this.form.submit()">
                                {% for i in 1..20 %}
                                    <option value="{{ i }}" {% if i == cart[product.id] %} selected {% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                            <a href="#"><i class="icon-refresh"></i></a>
                            <a href="{{ path('cart.delete', {'id' : product.id}) }}"><i class="icon-trash"></i></a>
                        </td>
                        <td>{{ product.price }} €</td>
                        <td>{{ product.price * cart[product.id] }} €</td>
                    </tr>
                    </form>
                    {% endfor %}
                    </tbody>
                </table>


            <dl class="dl-horizontal pull-right">
                <dt>Total HT :</dt>
                <dd>799,99€</dd>

                <dt>TVA :</dt>
                <dd>200€</dd>

                <dt>Total:</dt>
                <dd>999,99€</dd>
            </dl>
            <div class="clearfix"></div>
            <a href="{{ path('cart.delivery') }}" class="btn btn-success pull-right">Valider mon panier</a>
            <a href="index.php" class="btn btn-primary">Continuer mes achats</a>
        </div>

    </div>
</div>
{% endblock %}