<div class="well">
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-shopping-cart"></i>
            {{ products|length }} article(s)
            <b class="caret"></b></a>
        </a>
        <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
            {% for product in products %}
                <p>{{ product.name }} x {{ cart[product.id] }} <span class="pull-right">{{ (product.price * cart[product.id])|ttc(product.vat.value)|localizedcurrency('EUR') }}</span></p>
            {% endfor %}
            <a href="{{ path('cart.index') }}" class="btn btn-primary">Mon Panier</a>
        </div>
    </div>
</div>