<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}"/>
</head>
<body>
{% block body %}{% endblock %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ path('homepage') }}">SiteName</a>
            <div class="nav-collapse collapse">
                <form class="navbar-form form-search pull-right">
                    <input id="Search" name="Search" type="text" class="input-medium search-query">
                    <button type="submit" class="btn">Rechercher</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="vspace20">
    <div class="container">
        <div class="row">
            <div class="span4 offset1">
                <h4>Informations</h4>
                <ul class="nav nav-stacked">
                    <li><a href="{{ path('cms.show', {'id' : 1}) }}">CGV</a>
                    <li><a href="{{ path('cms.show', {'id' : 2}) }}">Mentions légales</a>
                </ul>
            </div>

            <div class="span4">
                <h4>Notre entrepôt</h4>
                <p><i class="icon-map-marker"></i> 3 rue des jardins 75000 Paris</p>
            </div>

            <div class="span2">
                <h4>Nous contacter</h4>
                <p><i class="icon-phone"></i>&nbsp;Tel: 01 00 00 00 00</p>
                <p><i class="icon-print"></i>&nbsp;Fax: 01 00 00 00 00</p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <p>&copy; Copyright 2014 - Sitename</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
