{% extends "::base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            {% include ':layout:nav.html.twig' %}
            <div class="span9">
                {% if products|length > 0 %}
                <ul class="thumbnails">
                    {% for product in products %}
                    <li class="span3">
                        <div class="thumbnail">
                            <a href="{{ path('product.show', { 'id' : product.id }) }}">
                                <img src="{{ product.image.path }}" alt="" width="300" height="300">
                            </a>
                            <div class="caption">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.price|vat(product.vat.multiplicate) }} € TTC</p>
                                <a class="btn btn-primary" href="{{ path("product.show", {'id' : product.id}) }}">Plus d'infos</a>
                                <a class="btn btn-success" href="panier.php">Ajouter au panier</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    <ul>
                        <li class="disabled"><span>Précédent</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivant</a></li>
                    </ul>
                </div>
                {% else %}
                    <h1>No product</h1>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}