{% extends "::base.html.twig" %}
{% block title %}{{ product.name }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        {% include ':layout:nav.html.twig' %}
        <div class="span9">
            <div class="row">
                <div class="span5">
                    <img src="{{ product.image.path }}" alt="" width="470" height="310">
                </div>

                <div class="span4">
                    <h4>{{ product.name }}</h4>
                    <h5>{{ product.category.name }}</h5>
                    <p>{{ product.description }}</p>
                    <h4>{{ product.price|ttc(product.vat.value) }} € TTC</h4>
                    <form action="{{ path('cart.add', {'id' : product.id}) }}" method="get">

                        <select name="qte" class="span1">
                            {% for i in 1..10 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>

                        <div>
                            <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}